<!DOCTYPE html>
<head><!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="personal_site.css"/>
<title>Eamon McLoughlin</title>
</head>
<body>
<h1>EamonsLife.com</h1>
<nav>
<ul>
  <li><a href="photos.html">Photos</a></li>
  <li><a href="music.html">Music</a></li>
  <li><a href="about_me.html">About Me</a></li>
</ul>
</nav>
<br>
<img src="https://scontent.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/10696228_421890857960723_3079243272109876825_n.jpg?oh=5ebfd2adc2faacaf74a13ff5a40f4514&oe=5649EF8A" height="250
" width="250">
<p>I like soccer, hanging with my friends, and travelling.</p>
<p> Wisdom of the Day: </p>
<a class="twitter-timeline" href="https://twitter.com/eamcloughlin"
    data-chrome="nofooter noborders noheader noscrollbar"
    data-tweet-limit="1"
    data-widget-id="628296737145270273">Tweets by @eamcloughlin</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</body>